<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Lib</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Movie Lib</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown" id="filter">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#all">All</a></li>
                <li><a href="#a_eng_esp">Eng-Esp</a></li>
                <li><a href="#s_esp">Sub Esp</a></li>
                <li><a href="#a_5_1">5.1</a></li>
                <li><a href="#v_sd">SD</a></li>
                <li><a href="#v_720">720p</a></li>
                <li><a href="#v_1080">1080p</a></li>
              </ul>
            </li>

            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Animation</a></li>
                <li><a href="#">Comedy</a></li>
                <li><a href="#">Crime</a></li>
                <li><a href="#">Disaster</a></li>
                <li><a href="#">Documentary</a></li>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Erotic</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Fantasy</a></li>
                <li><a href="#">Foreign</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Horror</a></li>
                <li><a href="#">Indie</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Musical</a></li>
                <li><a href="#">Mystery</a></li>
                <li><a href="#">Romance</a></li>
                <li><a href="#">Science Fiction</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Suspense</a></li>
                <li><a href="#">Thriller</a></li>
                <li><a href="#">War</a></li>
                <li><a href="#">Western</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Audio Lang<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">ENG</a></li>
                <li><a href="#">ESP</a></li>
              </ul>
            </li>
            -->

            <li class="dropdown" id="size_calc">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="bsel">0 bytes</span><b class="caret"></b></a>
              <ul class="dropdown-menu" id="size_list">
              </ul>
            </li>




          </ul>


          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Link</a></li> -->
            <li class="dropdown" id="selec">
              <a href="#_" class="dropdown-toggle" data-toggle="dropdown">Selection <span id="msel">0</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#a">Select all</a></li>
                <li><a href="#n">Select none</a></li>
                <li><a href="#i">Invert selection</a></li>
                <li><a href="#c">Get IDs</a></li>
              </ul>
            </li>
          </ul>

          <form class="navbar-form navbar-right" role="search">
              <input type="text" autocomplete="off" class="form-control typeahead" placeholder="Search">
          </form>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
      <div id="f_filter"></div>



      <ul id="movies">
        
      </ul>

    </div> <!-- /container -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Movie IDs!</h4>
      </div>
      <div class="modal-body">
        <textarea id="alerttxt" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Handlebars/Mustache Movie template -->
<script id="mt_movieTemplate" type="text/html">
  {{#movies}}
    <li class="movcan">

      <div class="mth">
          {{#if poster_path}}
            <a href="http://www.imdb.com/title/{{imdb_id}}" target="_blank" class="movth">
              <img width="92" height="138" alt="{{name}}" src="{{poster_url poster_path}}">
            </a>
          {{else}}
            <img width="92" height="138" alt="{{name}}" src="img/notfound.png">
          {{/if}}
          
          <span class="trailers">
            {{#trailers.youtube}}<span class="btn-group"><a href="http://youtu.be/{{source}}" target="_blank" title="{{name}}"><span class="label label-danger"><span class="glyphicon glyphicon-facetime-video"></span></span></a></span> {{/trailers.youtube}}{{#trailers.quicktime}}<span class="btn-group"  title="{{name}}"><span class="label label-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-facetime-video"></span></span><ul class="dropdown-menu" role="menu">{{#sources}}<li><a href="{{source}}" target="_blank">{{size}}</a></li>{{/sources}}</ul></span> {{/trailers.quicktime}}
          </span>
      </div>

      <div class="mcnt">

        <h4>
          <div class="checkbox">
          <label>
          <input type="checkbox" name="i{{@index}}"> {{name}}
          </label>
          </div>
        </h4>
        
        <p>
          <span class="label label-elegant" title="Size">{{shortBytes size}}</span>
          {{#if release_date}}
          <span class="label label-default" title="Release">{{releaseDate release_date}}</span>
          {{/if}}
          <span class="label label-default" title="Length">{{secToTime duration}}</span>
          {{#if vote_average}}
          <span class="label label-default" title="Rating">{{vote_average}} <span class="glyphicon glyphicon-star"></span></span>
          {{/if}}
          {{#if menu}}
          <span class="label label-default" title="Has Menu"><span class="glyphicon glyphicon-list-alt"></span></span>
          {{/if}}
          <span class="label label-default" title="Bitrate">{{shortBits bitrate}}</span>
        </p>

        {{#video_tracks}}
        <p>
          <span class="label label-elegant">{{videoRes width height}}</span> 
          <span class="label label-default">{{videoCodec codec}}</span>
          <span class="label label-default">{{videoProfile profile}}</span>
          <span class="label label-default">{{aspect}}</span>
          <span class="label label-default">{{fps}}</span>
          {{#if bitrate}}
            <span class="label label-default">{{shortBits bitrate}}</span>
          {{/if}}
        </p>
        {{/video_tracks}}

        {{#audio_tracks}}
        <p>
          {{#if lang}}
            <span class="label label-elegant"><span class="glyphicon glyphicon-volume-up"></span>{{upper lang}}</span>
          {{else}}
            <span class="label label-default"><span class="glyphicon glyphicon-volume-up"></span></span> 
          {{/if}}
          <span class="label label-default">{{audioCodec codec}}</span>
          <span class="label label-default">{{audioChan ch}}</span>
          {{#if bitrate_mode}}
            <span class="label label-default">{{bitrate_mode}}</span>
          {{/if}}
          {{#if sample_rate}}
          <span class="label label-default">{{audiSample sample_rate}}</span>
          {{/if}}
          {{#if bitrate}}
            <span class="label label-default">{{shortBits bitrate}}</span>
          {{/if}}
        </p>
        {{/audio_tracks}}

        {{#if subtitles}}
        <p>{{#each subtitles}}<span class="label label-elegant"><span class="glyphicon glyphicon-subtitles"></span> {{upper this}}</span> {{/each}}</p>
        {{/if}}

      </div>
    </li>
  {{/movies}}
</script>

<script id="filter_form" type="text/html">
  <form role="form">
    <select class="form-control" multiple>
      <option value="none">[NONE]</option>
      {{#genres}}<option value="{{_id}}">{{members.0.name}} ({{total}})</option>{{/genres}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#video_width}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/video_width}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#video_codec}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/video_codec}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#audio_lang}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/audio_lang}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#audio_ch}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/audio_ch}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#audio_codec}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/audio_codec}}
    </select>
    <br>
    <select class="form-control">
      <option value="none">[NONE]</option>
      {{#subs}}<option value="{{_id}}">{{_id}} ({{total}})</option>{{/subs}}
    </select>
    <br>
  </form>
</script>

    <!-- CDN JS -->
    <script src="//cdn.jsdelivr.net/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/momentjs/2.5.1/moment.min.js"></script>
    <script src="//cdn.jsdelivr.net/handlebarsjs/1.3.0/handlebars.min.js"></script>
    <script src="//cdn.jsdelivr.net/typeahead.js/0.10.1/typeahead.bundle.js"></script>
    <script>
      var host_path = '<%=host_path%>';
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
