body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

#movies{
	list-style-type: none;
}

.movcan{
	float: left;
	clear: none;
	background: #eee;
	margin: 0 5px 5px 0;
	padding: 5px;
	width: 450px;
	height: 255px;
	border-radius: 0.5em;
}
.mth{
	margin: 10px 0 0 10px;
	width: 92px;
	float: left;
}
.mth p{
	text-align: center;
}
.movth{
	display: block;
}
.movth img{
	border-radius: 0.35em;
}

.mcnt{
	float: right;
	width: 326px;
}

.mcnt p{
	margin: 0 0 5px 0;
}
.mcnt h4{
	margin-top: 6px;
}
.trailers{
	text-align: center;
	display: block;
}

#size_list li a{
	text-align: right;
}
.ri{
	color: rgba(0,0,0,0);
}